<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderTimeRangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.OrderTimeRange">
        <id column="meal_type" property="mealType" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="del_flag" property="delFlag" />
        <result column="start_time" property="startTime" />
        <result column="remarks" property="remarks" />
        <result column="end_time" property="endTime" />
    </resultMap>

</mapper>
