<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderTimeRangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.OrderMealInfo">
        <id column="meal_info_id" property="mealInfoId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="order_meal_date" property="orderMealDate" />
        <result column="user_name" property="userName" />
        <result column="meal_type" property="mealType" />
        <result column="track_face" property="trackFace" />
        <result column="order_time" property="orderTime" />
    </resultMap>

    <resultMap id="getTimeRangeMap" type="com.vo.OrderTimeRangeVO">
        <result column="start_time" property="startTime" />
        <result column="meal_type" property="mealType" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <select id="logicDeleteOrderMealTimeRange" parameterType="java.util.Map">
        UPDATE
        order_time_range
        SET order_time_range.del_flag = '1'
        WHERE 0=0
        <if test="mealType != null">
            and order_time_range.meal_type = #{mealType}
        </if>
    </select>

    <select id="getTimeRange" parameterType="com.dto.OrderTimeRangeForQueryDTO" resultMap="getTimeRangeMap">
        select
        order_time_range.meal_type,
        order_time_range.start_time,
        order_time_range.end_time
        from (select * from order_time_range where del_flag = '0') order_time_range
        where 0=0
        <choose>
            <when test="mealType == null">
                and order_time_range.meal_type in ('L','D')
            </when>
            <otherwise>
                and order_time_range.meal_type = #{mealType}
            </otherwise>
        </choose>
        GROUP BY order_time_range.meal_type
        ORDER BY order_time_range.meal_type desc
    </select>



</mapper>
